/* Header baris pertama (judul kolom) */
th {
    background-color: rgb(0, 255, 0);
    font-weight: bold;;
    color: black;
  }
  
  /* Kolom pertama (judul baris) */
th:first-child,
td:first-child {
  background-color: white;
  color: black;
  font-weight: bold;
}      


  td:first-child {
    background-color: rgb(0, 255, 0);
    font-weight: bold;
  }
  

  
  
  /* mengatur warna pada angka ganjil */
  tr td:nth-child(2),
  tr td:nth-child(4),
  tr td:nth-child(6),
  tr td:nth-child(8),
  tr td:nth-child(10) {
      background-color: yellow;
  }
  
   td {
    background-color: cyan;
    text-align: center;
    padding: 5px;
  }
  tr:nth-child(even) td:not(:first-child) {
    background-color: cyan;
}

  
  
  table {
    border-collapse: collapse;
  }
  